*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;    
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container section{
    display: flex;
    flex-direction: column;    
    width: 20%;
}

#formulario{
    display: flex;
    flex-direction: column;    
}

#formulario label{
    display: block;
}

#formulario div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#formulario input{
    padding: 10px;
    border: dotted 2px dodgerblue;
}

#formulario select{
    padding: 10px;
    border: dotted 2px dodgerblue;
}

#formulario button{
    padding: 10px;
    background-color: violet;
    margin-top: 15px;
}

#demo{
	height: 120px;
	background: black;
	color:antiquewhite;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	overflow: scroll;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: greenyellow; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
